@use '../sass/abstracts/mixins.scss';
@use '../sass/abstracts/vars.scss';

.paragraph{
    font-size: 1rem;
    color: black;
    @include mixins.marginBotton();
    &.intro{
        font-size: 2rem;

    }
}